<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<!-- Prevent Windows fallback folders from breaking Linux Docker builds -->
	<fallbackPackageFolders>
		<clear />
	</fallbackPackageFolders>
</configuration>